body {
  font-family: Arial, sans-serif;
  color: #efefef;
  background-color: #151515;
  padding: 20px;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #262626;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select,
.form-group input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input[type="checkbox"] {
  width: auto;
  display: inline-block;
}

.form-group .checkbox-label {
  display: inline-block;
  margin-left: 5px;
}

.form-group .submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.start-coordinates {
  box-shadow: 0 8px 6px -6px black;
}